# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Test and coverage artifacts
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# OS files
.DS_Store

# Editors and tooling
.idea/
.vscode/

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
*.tfvars
*_override.tf
*_override.tf.json
override.tf
override.tf.json
*.tfplan
